.cart {
  margin-top: 100px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: #000;
  font-size: max(1vw, 12px);
  font-weight: 600;
}
.cart-items-item {
  margin: 10px 0;
  color: gray;
}

.cart-items-item img {
  width: 50px;
}
.cart hr {
  border: none;
  height: 1px;
  background-color: #e2e2e2;
}
.cross {
  cursor: pointer;
}
